*,body {
    margin: 0px;
    padding: 0px;
  }

  body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    background-color: rgb(30, 33, 34);
    background-image: url('/static/img/background/background.png');
    background-size: 100%;
    background-position: right top;
    background-attachment: fixed;
  }

  header,
  footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }


  header {
    padding: 100px 0;
  }

  footer {
    line-height: 1.8;
    text-align: center;
    padding: 50px 0;
    color: rgb(0, 0, 0);
  }

  .description {
    text-align: center;
    font-size: 16px;
  }

  a {
    color: rgb(23, 25, 26);
    text-decoration: none;
  }

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 100px rgb(63, 67, 68);
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
  }
